# -*- coding: utf-8 -*-

"""Summary of the module.

Detailed description.
"""

__all__ = []
__docformat__ = 'reStructuredText'

# imports


def main():
    pass


if __name__ == '__main__':
    main()


# EOF
