# ***************************************************
# ***************************************************
# 
# Author: Konstantinos Drosos - Nokia Technologies
#
# File: {{FILER}}
#
# Description: What the file is about
#
# ***************************************************
# ***************************************************
#
# ---------------------------------------------------
{{CURSOR}}
# EOF
